body {
    background-color: #abd100 ;
    width: 200px;
    height: 100px;
  }
.hola {
    background-color: #00D1AE;
    width: 400px;
    height: 200px;
  }
  .adios {
    background-color: red;
    width: 400px;
    height: 200px;
  }